allow system_server sysfs_kgsl:file r_file_perms;
get_prop(system_server, persist_camera_prop)

#Smart charging
type sysfs_battery_supply, sysfs_type, fs_type;
